
:root {

    --degrade-btn: linear-gradient(#1D6480, #164C61);
  
  
  }
  
  .btn {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0.6em 2em;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Roboto';
    background-image: var(--degrade-btn);
    border-radius: 5px;
  
  
  }
  
  
  
  .btn:hover {
    /*color: #266218;*/
    color: #fff;
    background: #164b60;
  
  }