

main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main_text {
    width: 50%;
    color: black;
    margin-left: 100px;
}

.main_text h1 {
    font-size: 5rem;
}

.main_text div {
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.main_img img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin-left:  10px;
    
}