.newperfil_container{
    width: 480px;
    margin: 0 auto;
    padding: 3em;
   
}

.newperfil_container h1{
    margin-bottom: 0.5em;
    text-align: center;
    
  
}

.newperfil_container p{
    color: #7b7b7b;
    text-align: center;
    
    
}