.perfil_details {
    padding: 2em;
  }
  
  .perfil_details h1,
  .perfil_details h2,
  .perfil_details p {
    margin-bottom: 0.5em;
  }
  
  .perfil_details h1 {
    background-color: #222;
    color: white;
    padding: 0.4em;
  }
  
  .perfil_details span {
    font-weight: bold;
  }
  
  .details_container,
  .service_form_container {
    border-bottom: 1px solid #7a7a7a;
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  :root {

    --degrade-btn: linear-gradient(#1D6480, #164C61);


}
  .btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    font-family:'Roboto';
    background-image: var(--degrade-btn);
    cursor: pointer;
    max-height: 40px;
    border-radius: 5px;
  }
  
  .btn:hover {
    color: #fff;
    background: #164b60;
    
  }
  
  .perfil_info {
    width: 100%;
  }