/* Perfis.module.css */
.perfil_container {
  padding: 2em;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Adicione isso para centralizar verticalmente */
  margin-bottom: 2em;
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}
