/* Estilos para o container principal */
.login-container {
    display: flex;
    height: 100vh;
    background-color: #164b60;
    
  }
  
  /* Estilos para a área superior com imagem (azul) */
  .login-image {
    flex: 1;
    background-image: url('C:\Users\Lucas\helpsenior\src\img\logo.png'); /* Substitua pelo caminho da sua imagem */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 00px;
    height: 400px;
    margin-top: 100px;
    max-width: 600px;
    max-height: 600px;
    
  }
  
  /* Estilos para o lado direito (branco) */
  .login-right {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para o formulário */
  .login-form {
    width: 80%;
    max-width: 400px; /* Largura máxima do formulário */
    padding: 20px;
   
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    
    
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc; /* Adicione uma borda para os campos de entrada */
    border-radius: 4px; /* Adicione bordas arredondadas para os campos de entrada */
    
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #164b60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto';
  }
  
  .login-form p {
    margin-top: 16px;
    text-align: center;
  }
  
  .login-form a {
    color: #007bff;
    text-decoration: none;
  }
  .text-danger{
    color: red;
  }